<h3>Thank you for your message.</h3>
<p>Your message was successfully sent.</p>
<p><em><%= "TODO: hidden email address in datalayer" %></em></p>
<p><%= params[:email] %></p>
<%= link_to "Back", root_path %>
<%# <% raise %> %>
  <%# <%= render "contact" %> %>
  <%# <%= render "form" %> %>
